flows_PiHole-PiVPN-NUT-3B.json
[
    {
        "id": "993c3146.12722",
        "type": "tab",
        "label": "Intro Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4702b097.59f3b",
        "type": "tab",
        "label": "Link Outs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c3cd757.a086c8",
        "type": "tab",
        "label": "Motion Detection [Alexa]",
        "disabled": false,
        "info": "Enables and disables motion detection depending on the room you are in."
    },
    {
        "id": "73f998b9.8842a8",
        "type": "tab",
        "label": "GM,GN Routines [Alexa]",
        "disabled": false,
        "info": ""
    },
    {
        "id": "68ba5945.906288",
        "type": "tab",
        "label": "Light/Fan Control [Alexa]",
        "disabled": false,
        "info": "1) Turns lights on and off per the room you are in.\n2) Turns the fans on and off per the room you are in."
    },
    {
        "id": "d61084e.39e0678",
        "type": "tab",
        "label": "Volume Fix [Alexa]",
        "disabled": false,
        "info": ""
    },
    {
        "id": "345f283.d5796d8",
        "type": "tab",
        "label": "Mode Change",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e547b10.f1db64",
        "type": "tab",
        "label": "Arlo Geofenced Schedule",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66eb8402.daa4fc",
        "type": "tab",
        "label": "Speed Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3e4e663.9ecbb8",
        "type": "tab",
        "label": "Automated Backups",
        "disabled": false,
        "info": ""
    },
    {
        "id": "116ef4ea.86891b",
        "type": "tab",
        "label": "Brandon's Template",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e1557285.e3f86",
        "type": "tab",
        "label": "LF - Colin's Bedroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb4b5b0a.f09b68",
        "type": "subflow",
        "name": "Alexa Device Handler",
        "info": "This subflow takes a Alexa Device Activity payload and checks which Echo device it came from and directs the message accordingly.",
        "category": "alexa",
        "in": [
            {
                "x": 340,
                "y": 140,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 120,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 1
                    },
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 2
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": "3"
                    }
                ]
            },
            {
                "x": 620,
                "y": 200,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": "4"
                    }
                ]
            }
        ],
        "env": [],
        "color": "#6FBAD8",
        "inputLabels": [
            "Alexa Device Activity Payload"
        ],
        "outputLabels": [
            "Great Room",
            "Downstairs Bedroom",
            "Kitchen",
            "Master Bedroom"
        ],
        "icon": "node-red-contrib-hubitat/device.svg"
    },
    {
        "id": "ac12c9d8.613d38",
        "type": "subflow",
        "name": "Mode Variables",
        "info": "This subflow generates the volume and level data for hubitat devices per mode",
        "category": "hubitat",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "c5d42927.3e5298"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "855041f7.b56ad",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 120,
                "wires": [
                    {
                        "id": "7ba362b4.9c660c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "ddb474ac.518768",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#ACE043",
        "outputLabels": [
            "Day",
            "Evening",
            "Night"
        ],
        "icon": "node-red/leveldb.png"
    },
    {
        "id": "5618f29.6116b0c",
        "type": "subflow",
        "name": "Get Echo Serials",
        "info": "This subflow gets the serial numbers and names for all echo devices",
        "category": "alexa",
        "in": [
            {
                "x": 320,
                "y": 300,
                "wires": [
                    {
                        "id": "2cb2a0cf.6c3d2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 300,
                "wires": [
                    {
                        "id": "13cd680f.9ca1e8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#6FBAD8",
        "inputLabels": [
            "Trigger"
        ],
        "outputLabels": [
            "Names/Serials"
        ],
        "icon": "node-red/hash.svg"
    },
    {
        "id": "1ca15330.84243d",
        "type": "subflow",
        "name": "Raw Presence Backup",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "a12adaac.d9d4b8"
                    },
                    {
                        "id": "5f50aa44.6c3514"
                    },
                    {
                        "id": "858d9fbf.b9b2e"
                    },
                    {
                        "id": "fb38c864.f5b9d8"
                    },
                    {
                        "id": "7e633e33.22216"
                    },
                    {
                        "id": "686a0f13.80b6c"
                    },
                    {
                        "id": "9f7dd1e7.80f0b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 900,
                "y": 180,
                "wires": [
                    {
                        "id": "8a8ff10b.c3fa9",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 240,
                "wires": [
                    {
                        "id": "8a8ff10b.c3fa9",
                        "port": 1
                    }
                ]
            },
            {
                "x": 900,
                "y": 300,
                "wires": [
                    {
                        "id": "8a8ff10b.c3fa9",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "c72800c4.5f936",
        "type": "subflow",
        "name": "Geofenced Schedule Backup",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "b130c189.ea4d2",
        "type": "hubitat config",
        "z": "",
        "name": "Beach House Hubitat Config",
        "usetls": false,
        "host": "192.168.2.240",
        "port": "80",
        "appId": "801",
        "nodeRedServer": "http://192.168.2.253:1880",
        "webhookPath": "/hubitat/webhook",
        "autoRefresh": true,
        "useWebsocket": false
    },
    {
        "id": "4553eef5.ffc05",
        "type": "alexa-remote-account",
        "z": "",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.253",
        "proxyPort": "3456",
        "cookieFile": "/mnt/dietpi_userdata/node-red/alexaAuth/BH_authFile",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "fd6ba71d.7884c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bbc70dcb.af9b1",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "4cee48f3.b3b3a8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ea90f55.6cdc8",
        "type": "ui_group",
        "z": "",
        "name": "Charts",
        "tab": "4cee48f3.b3b3a8",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "4cee48f3.b3b3a8",
        "type": "ui_tab",
        "z": "",
        "name": "Internet Speed",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d452a9d3.7a4488",
        "type": "alexa-remote-account",
        "z": "",
        "name": "La France Alexa Account",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.253",
        "proxyPort": "4567",
        "cookieFile": "/mnt/dietpi_userdata/node-red/alexaAuth/LF_authFile",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "433a14d5.44c6dc",
        "type": "position-config",
        "z": 0,
        "name": "La France",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": "99",
        "timeZoneDST": "0",
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    },
    {
        "id": "283e8204.4178ae",
        "type": "arlo-config",
        "z": "",
        "name": "KMK Arlo"
    },
    {
        "id": "bdfee576.1c2a08",
        "type": "alexa-smart-home-v3-conf",
        "z": "",
        "username": "240avenida",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "file"
    },
    {
        "id": "c4c56729.96e518",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "3d536109.b6c4ce"
            ]
        ]
    },
    {
        "id": "9e6c971.4835d68",
        "type": "debug",
        "z": "993c3146.12722",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d536109.b6c4ce",
        "type": "function",
        "z": "993c3146.12722",
        "name": "date2string",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "9e6c971.4835d68"
            ]
        ]
    },
    {
        "id": "24855f2d.60a5",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "bb801dde.6b336"
            ]
        ]
    },
    {
        "id": "bb801dde.6b336",
        "type": "debug",
        "z": "993c3146.12722",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "80bb010d.082ce",
        "type": "switch",
        "z": "68ba5945.906288",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn off (the )?lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?lights",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "df44fb1a.f08208"
            ],
            [
                "8bbc4fd1.22f5b"
            ]
        ]
    },
    {
        "id": "1737ebff.565734",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1572",
        "command": "off",
        "commandArgs": "",
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6ae5ea.792f9c",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1574",
        "command": "off",
        "commandArgs": "",
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c73b5d38.e4ed6",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1573",
        "command": "off",
        "commandArgs": "",
        "x": 770,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "83b32c58.41ce",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1575",
        "command": "off",
        "commandArgs": "",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "666629d2.9fdf18",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1574",
        "command": "on",
        "commandArgs": "",
        "x": 770,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a4468c2.dde517",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1573",
        "command": "on",
        "commandArgs": "",
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5b9d4c70.22d984",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1575",
        "command": "on",
        "commandArgs": "",
        "x": 770,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "cd66091.af90cf8",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1572",
        "command": "on",
        "commandArgs": "",
        "x": 770,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "88d0b4c0.bff528",
        "type": "comment",
        "z": "993c3146.12722",
        "name": "Basic Flows",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "4ae69c8b.848694",
        "type": "comment",
        "z": "993c3146.12722",
        "name": "Basic Hubitat Flow",
        "info": "",
        "x": 110,
        "y": 200,
        "wires": []
    },
    {
        "id": "d70073d4.24fb2",
        "type": "hubitat command",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights On",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "on",
        "commandArgs": "",
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f136b88f.d570b8",
        "type": "hubitat command",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights Off",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "off",
        "commandArgs": "",
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ca4f3fd9.298",
        "type": "switch",
        "z": "993c3146.12722",
        "name": "",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "f136b88f.d570b8"
            ],
            [
                "d70073d4.24fb2"
            ]
        ]
    },
    {
        "id": "8a4fbf62.e1fbb",
        "type": "hubitat device",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "attribute": "switch",
        "sendEvent": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ca4f3fd9.298"
            ]
        ]
    },
    {
        "id": "fdf8f37b.f2aed",
        "type": "hubitat device",
        "z": "993c3146.12722",
        "name": "Node Red Test Button",
        "server": "b130c189.ea4d2",
        "deviceId": "804",
        "attribute": "pushed",
        "sendEvent": true,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "8a4fbf62.e1fbb"
            ]
        ]
    },
    {
        "id": "39d4a09d.8dda2",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8a4fbf62.e1fbb"
            ]
        ]
    },
    {
        "id": "e67c4d69.4d19c",
        "type": "switch",
        "z": "cb4b5b0a.f09b68",
        "name": "Device Handler",
        "property": "payload.deviceSerialNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "G090U509912423CC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G6G0XG100134018V",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U509912424HF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U5099117264T",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U509911620T7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 140,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ],
        "inputLabels": [
            "Alexa Device Activity Payload"
        ],
        "outputLabels": [
            "Great Room",
            "Downstairs Bedroom 1",
            "Downstairs Bedroom 2",
            "Kitchen",
            "Master Bedroom"
        ],
        "info": "Great Room - G090U509912423CC\nDownstairs Bedroom 1 - G6G0XG100134018V\nDownstairs Bedroom 2 - G090U509912424HF\nKitchen - G090U5099117264T\nMaster Bedroom - G090U509911620T7"
    },
    {
        "id": "df44fb1a.f08208",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "env": [],
        "x": 540,
        "y": 280,
        "wires": [
            [
                "1737ebff.565734"
            ],
            [
                "6f6ae5ea.792f9c"
            ],
            [
                "c73b5d38.e4ed6"
            ],
            [
                "83b32c58.41ce"
            ]
        ]
    },
    {
        "id": "8bbc4fd1.22f5b",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "x": 540,
        "y": 680,
        "wires": [
            [
                "cd66091.af90cf8"
            ],
            [
                "666629d2.9fdf18"
            ],
            [
                "a4468c2.dde517"
            ],
            [
                "5b9d4c70.22d984"
            ]
        ]
    },
    {
        "id": "c5d42927.3e5298",
        "type": "hubitat mode",
        "z": "ac12c9d8.613d38",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": true,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "910dea66.534338"
            ]
        ]
    },
    {
        "id": "910dea66.534338",
        "type": "switch",
        "z": "ac12c9d8.613d38",
        "name": "Mode Switch",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "855041f7.b56ad"
            ],
            [
                "7ba362b4.9c660c"
            ],
            [
                "ddb474ac.518768"
            ]
        ]
    },
    {
        "id": "855041f7.b56ad",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Day",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba362b4.9c660c",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Evening",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb474ac.518768",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Night",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ae57b7da.109528",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "Refresh UPS Monitor",
        "server": "b130c189.ea4d2",
        "deviceId": "610",
        "command": "initialize",
        "commandArgs": "",
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8e74d342.066a6",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "DB - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9672e767.fceda8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2d2a8e8.4a5c572",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "DB - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c02cfc03.3f358",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e1bf2646.a068a8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "db41473e.5574e8",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "GR - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 730,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cfeb43bf.07772",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "KT - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c569a1.755d98",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "DB - Echo M Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "87177829.799d98",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "DB - Echo S Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 740,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa7d080.e694f",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "MB - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f1500ac3.c148b8",
        "type": "inject",
        "z": "345f283.d5796d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9f83e2cc.07492",
                "9672e767.fceda8",
                "8e74d342.066a6",
                "ae57b7da.109528",
                "59d071a7.8a464"
            ]
        ]
    },
    {
        "id": "e188401e.b56c",
        "type": "switch",
        "z": "68ba5945.906288",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn on (the )?fan",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?heater",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?climate control",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?fan",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?heater",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?climate control",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "15d1855a.e9ec2b"
            ],
            [
                "15d1855a.e9ec2b"
            ],
            [
                "15d1855a.e9ec2b"
            ],
            [
                "b197f08b.eb07d"
            ],
            [
                "b197f08b.eb07d"
            ],
            [
                "b197f08b.eb07d"
            ]
        ]
    },
    {
        "id": "15d1855a.e9ec2b",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "x": 540,
        "y": 80,
        "wires": [
            [],
            [],
            [],
            [
                "7d147fb3.279c5"
            ]
        ]
    },
    {
        "id": "b197f08b.eb07d",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "env": [],
        "x": 540,
        "y": 160,
        "wires": [
            [],
            [],
            [],
            [
                "b02ae8f9.a1d848"
            ]
        ]
    },
    {
        "id": "7d147fb3.279c5",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Heater/Fan",
        "server": "b130c189.ea4d2",
        "deviceId": "66",
        "command": "on",
        "commandArgs": "",
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b02ae8f9.a1d848",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Heater/Fan",
        "server": "b130c189.ea4d2",
        "deviceId": "66",
        "command": "off",
        "commandArgs": "",
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9f83e2cc.07492",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "831fec5d.5f762",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b7b654.a635e8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8987899c.d65958",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c55c8143.8aefc",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "831fec5d.5f762",
                "c4b7b654.a635e8",
                "8987899c.d65958"
            ]
        ]
    },
    {
        "id": "486da55c.d30acc",
        "type": "hubitat location",
        "z": "345f283.d5796d8",
        "name": "location",
        "server": "b130c189.ea4d2",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a44ccae0.1fbd48"
            ]
        ]
    },
    {
        "id": "1f71ef48.e3d2b1",
        "type": "template",
        "z": "66eb8402.daa4fc",
        "name": "time",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{mydate}} {{myhourpm}}:{{myminute}} {{mypm}}",
        "output": "str",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "20d947ba.574ff8"
            ]
        ]
    },
    {
        "id": "90ec36f0.76ff08",
        "type": "switch",
        "z": "66eb8402.daa4fc",
        "name": "down < 75",
        "property": "payload.speeds.download",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "a03f104b.58ff8"
            ]
        ]
    },
    {
        "id": "20d947ba.574ff8",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Last Speedtest",
        "label": "Last Speedtest",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "583d4a26.363c14",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "download",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Download",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speeds.download",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e1ab8c2f.e392",
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "72e2a082.86ed4",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "upload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Upload",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speeds.upload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "b94b3762.47e0c8",
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "8c49c54d.a02b68",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "ping",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Ping",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.ping",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "c4940128.b9dac",
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "bded1eb.dfb7ce",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.distanceMi",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Distance",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "b583a0fc.628e4",
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "1856e740.6b09b9",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "ISP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.sponsor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "564197da.5d0ba8"
            ]
        ]
    },
    {
        "id": "d335b417.56dfa8",
        "type": "ui_button",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SpeedTest Now!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "6c891bc6.bc8204"
            ]
        ]
    },
    {
        "id": "a03f104b.58ff8",
        "type": "template",
        "z": "66eb8402.daa4fc",
        "name": "Message",
        "field": "arguments",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Internet speed was {{payload.speeds.download}}/{{payload.speeds.upload}} (down/up Mbits/s) at {{mytimes}} on {{mymonthn}}/{{mydom}}. Speedtest server was {{payload.server.sponsor}}.",
        "output": "str",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "e682d7ac.220ae8"
            ]
        ]
    },
    {
        "id": "e1ab8c2f.e392",
        "type": "ui_gauge",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Download Speed",
        "label": "Download Mbits",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff002d",
            "#e4b400",
            "#03f81f"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9e02950.ff4b58",
        "type": "ui_chart",
        "z": "66eb8402.daa4fc",
        "name": "Performance Chart",
        "group": "8ea90f55.6cdc8",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Performance Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "fd73f8a9.7fb728"
            ]
        ]
    },
    {
        "id": "b94b3762.47e0c8",
        "type": "ui_gauge",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Upload Speed",
        "label": "Upload MBits",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff002d",
            "#ffed36",
            "#03f81f"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4940128.b9dac",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ping (ms)",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "f1bcce6.7a6d13",
        "type": "ui_chart",
        "z": "66eb8402.daa4fc",
        "name": "Latency Chart",
        "group": "8ea90f55.6cdc8",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Latency Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "843d210e.9fb6c"
            ]
        ]
    },
    {
        "id": "b583a0fc.628e4",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance",
        "format": "<font color=\"cyan\">{{msg.payload}} mi</font>",
        "layout": "col-center",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "564197da.5d0ba8",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hosted By",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd73f8a9.7fb728",
        "type": "file",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Save",
        "filename": "/mnt/dietpi_userdata/node-red/data/speedtest/speedtestData.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5f21f9.428d3",
        "type": "json",
        "z": "66eb8402.daa4fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "843d210e.9fb6c",
        "type": "file",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Save",
        "filename": "/mnt/dietpi_userdata/node-red/data/speedtest/speedtestDataPD.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "98b4afc6.146f9",
        "type": "json",
        "z": "66eb8402.daa4fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "728a94dc.939e4c",
        "type": "file in",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Restore",
        "filename": "/mnt/dietpi_userdata/node-red/data/speedtest/speedtestData.json",
        "format": "utf8",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "fe5f21f9.428d3"
            ]
        ]
    },
    {
        "id": "c4e0dc5d.f843a",
        "type": "file in",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Restore",
        "filename": "/mnt/dietpi_userdata/node-red/data/speedtest/speedtestDataPD.json",
        "format": "utf8",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "98b4afc6.146f9"
            ]
        ]
    },
    {
        "id": "1950af5f.5c2901",
        "type": "inject",
        "z": "66eb8402.daa4fc",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "restore",
        "payloadType": "str",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "728a94dc.939e4c",
                "c4e0dc5d.f843a"
            ]
        ]
    },
    {
        "id": "f79e586b.bb5f98",
        "type": "simpletime",
        "z": "66eb8402.daa4fc",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "1f71ef48.e3d2b1",
                "90ec36f0.76ff08",
                "836dbe75.14f81"
            ]
        ]
    },
    {
        "id": "567679a8.924158",
        "type": "cronplus",
        "z": "66eb8402.daa4fc",
        "name": "5 minutes past the hour",
        "outputField": "payload",
        "timeZone": "",
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "topic": "5 past every hour",
                "payload": "start",
                "expression": "5 * * * *",
                "name": "5 past every hour",
                "expressionType": "cron",
                "payloadType": "str",
                "solarType": "all",
                "solarEvents": "sunrise,sunset",
                "location": ""
            }
        ],
        "x": 170,
        "y": 100,
        "wires": [
            [
                "6c891bc6.bc8204"
            ]
        ]
    },
    {
        "id": "6c891bc6.bc8204",
        "type": "speedtest",
        "z": "66eb8402.daa4fc",
        "name": "Speedtest",
        "serverId": "",
        "maxTime": "120000",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "583d4a26.363c14",
                "72e2a082.86ed4",
                "8c49c54d.a02b68",
                "bded1eb.dfb7ce",
                "1856e740.6b09b9",
                "f79e586b.bb5f98"
            ]
        ]
    },
    {
        "id": "e682d7ac.220ae8",
        "type": "hubitat command",
        "z": "66eb8402.daa4fc",
        "name": "Notify Colin's Phone",
        "server": "b130c189.ea4d2",
        "deviceId": "70",
        "command": "deviceNotification",
        "commandArgs": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "836dbe75.14f81",
        "type": "switch",
        "z": "66eb8402.daa4fc",
        "name": "upload < 75",
        "property": "payload.speeds.upload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "a03f104b.58ff8"
            ]
        ]
    },
    {
        "id": "c0f915b6.e62fb8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 480,
        "y": 60,
        "wires": [
            [
                "e97ff3a7.a2ed5"
            ]
        ]
    },
    {
        "id": "68e807d.954b0f8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 480,
        "y": 180,
        "wires": [
            [
                "704d4696.7b2828"
            ]
        ]
    },
    {
        "id": "e4e76245.3c42",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 470,
        "y": 100,
        "wires": [
            [
                "e3958915.0a6308"
            ]
        ]
    },
    {
        "id": "eb6d4a12.1e44f8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 470,
        "y": 140,
        "wires": [
            [
                "d92d6856.919638"
            ]
        ]
    },
    {
        "id": "afd82140.f445b",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 480,
        "y": 220,
        "wires": [
            [
                "b5615238.4cef5"
            ]
        ]
    },
    {
        "id": "6118732f.6ede7c",
        "type": "switch",
        "z": "d61084e.39e0678",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "reset volumes",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "reset volume",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "afd82140.f445b",
                "68e807d.954b0f8",
                "eb6d4a12.1e44f8",
                "e4e76245.3c42",
                "c0f915b6.e62fb8"
            ],
            [
                "3f333fa.be852c"
            ]
        ]
    },
    {
        "id": "3f333fa.be852c",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c0f915b6.e62fb8"
            ],
            [
                "e4e76245.3c42",
                "eb6d4a12.1e44f8"
            ],
            [
                "68e807d.954b0f8"
            ],
            [
                "afd82140.f445b"
            ]
        ]
    },
    {
        "id": "57115256.c8f83c",
        "type": "alexa-remote-event",
        "z": "d61084e.39e0678",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-media-change",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "3f1bb185.ee904e",
                "77edd238.0d301c"
            ]
        ]
    },
    {
        "id": "558ee0bb.30b7f",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5a515b3f.122a34",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 1160,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "65f116d4.f76438",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 1160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9d412f46.25b99",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 1150,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c1954c72.887de",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd73cb0.773a34",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "pause"
            }
        },
        "x": 710,
        "y": 320,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "ea17f4a9.8a2408",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "pause"
            }
        },
        "x": 710,
        "y": 360,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "29113ff2.7a2d1",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "pause"
            }
        },
        "x": 710,
        "y": 400,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "f81bf876.428948",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "pause"
            }
        },
        "x": 710,
        "y": 440,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "9434928a.e846d",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "pause"
            }
        },
        "x": 710,
        "y": 480,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "77edd238.0d301c",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "3bd73cb0.773a34"
            ],
            [
                "ea17f4a9.8a2408",
                "29113ff2.7a2d1"
            ],
            [
                "f81bf876.428948"
            ],
            [
                "9434928a.e846d"
            ]
        ]
    },
    {
        "id": "26fc474d.0dffe8",
        "type": "inject",
        "z": "d61084e.39e0678",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "9434928a.e846d",
                "f81bf876.428948",
                "29113ff2.7a2d1",
                "ea17f4a9.8a2408",
                "3bd73cb0.773a34"
            ]
        ]
    },
    {
        "id": "59d071a7.8a464",
        "type": "subflow:ac12c9d8.613d38",
        "z": "345f283.d5796d8",
        "name": "",
        "env": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "e1bf2646.a068a8",
                "c02cfc03.3f358",
                "2d2a8e8.4a5c572",
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "c7e6bc92.df8ea"
            ],
            [
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "42314d69.d59214"
            ],
            [
                "e1bf2646.a068a8",
                "c02cfc03.3f358",
                "2d2a8e8.4a5c572",
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "c55c8143.8aefc"
            ]
        ]
    },
    {
        "id": "8cbf13ee.6bece",
        "type": "subflow:ac12c9d8.613d38",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 920,
        "y": 400,
        "wires": [
            [
                "c1954c72.887de",
                "9d412f46.25b99",
                "65f116d4.f76438",
                "5a515b3f.122a34",
                "558ee0bb.30b7f"
            ],
            [
                "c1954c72.887de",
                "9d412f46.25b99",
                "65f116d4.f76438",
                "5a515b3f.122a34",
                "558ee0bb.30b7f"
            ],
            [
                "558ee0bb.30b7f",
                "5a515b3f.122a34",
                "65f116d4.f76438",
                "9d412f46.25b99",
                "c1954c72.887de"
            ]
        ]
    },
    {
        "id": "3f1bb185.ee904e",
        "type": "hubitat command",
        "z": "d61084e.39e0678",
        "name": "Colin Notification",
        "server": "b130c189.ea4d2",
        "deviceId": "70",
        "command": "deviceNotification",
        "commandArgs": "Alexa \"On Media Change\" Triggered",
        "x": 310,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e97ff3a7.a2ed5",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "3bd73cb0.773a34"
            ]
        ]
    },
    {
        "id": "e3958915.0a6308",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "ea17f4a9.8a2408"
            ]
        ]
    },
    {
        "id": "d92d6856.919638",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "29113ff2.7a2d1"
            ]
        ]
    },
    {
        "id": "704d4696.7b2828",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "f81bf876.428948"
            ]
        ]
    },
    {
        "id": "b5615238.4cef5",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "9434928a.e846d"
            ]
        ]
    },
    {
        "id": "ed40bc41.95a34",
        "type": "delay",
        "z": "345f283.d5796d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "ae57b7da.109528",
                "59d071a7.8a464",
                "8e74d342.066a6",
                "9672e767.fceda8",
                "9f83e2cc.07492"
            ]
        ]
    },
    {
        "id": "a44ccae0.1fbd48",
        "type": "switch",
        "z": "345f283.d5796d8",
        "name": "sysStart",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "systemStart",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ed40bc41.95a34"
            ]
        ]
    },
    {
        "id": "2bb7e3e6.86d69c",
        "type": "comment",
        "z": "f3e4e663.9ecbb8",
        "name": "Generate Teleporter Backup Address",
        "info": "Needs cookie -http://192.168.2.253/admin/scripts/pi-hole/php/teleporter.php",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfe92a56.a7a0a8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 740,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "315c6b22.c39a64",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e6bc92.df8ea",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "bfe92a56.a7a0a8"
            ]
        ]
    },
    {
        "id": "42314d69.d59214",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "315c6b22.c39a64"
            ]
        ]
    },
    {
        "id": "e96cba5a.0480d8",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "good( )?night",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "good( )?morning",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "1f860f1a.769fd1",
                "94023e4c.b2b4d",
                "19d3d5eb.74bf0a"
            ],
            [
                "6b1eb982.8dcaf8"
            ]
        ]
    },
    {
        "id": "9cb3b387.dc6da",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "off",
        "commandArgs": "",
        "x": 980,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "33f5a68d.21358a",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "off",
        "commandArgs": "",
        "x": 980,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "901f1a7f.229298",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "off",
        "commandArgs": "",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "47080bca.7ec5c4",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1f860f1a.769fd1",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Back Door August Pro (Reliable)",
        "server": "b130c189.ea4d2",
        "deviceId": "1441",
        "command": "lock",
        "commandArgs": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ed251d47.20d8e",
        "type": "hubitat device",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe Status",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "attribute": "",
        "sendEvent": false,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "cab7e870.5e4e98"
            ]
        ]
    },
    {
        "id": "cab7e870.5e4e98",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "if OFF",
        "property": "payload.alarm.currentValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 380,
        "wires": [
            [
                "7896d4be.8fce0c"
            ]
        ]
    },
    {
        "id": "7896d4be.8fce0c",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe Arm",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "command": "home",
        "commandArgs": "",
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "94023e4c.b2b4d"
            ]
        ]
    },
    {
        "id": "94023e4c.b2b4d",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "command": "poll",
        "commandArgs": "",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "ed251d47.20d8e"
            ]
        ]
    },
    {
        "id": "19d3d5eb.74bf0a",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "73f998b9.8842a8",
        "name": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "410479d9.0625d8"
            ],
            [
                "be21259d.1ec948"
            ],
            [
                "62e2193c.2b9368"
            ],
            [
                "14b0e991.d2c5a6"
            ]
        ]
    },
    {
        "id": "7bdd715.d136d9",
        "type": "hubitat mode",
        "z": "73f998b9.8842a8",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": false,
        "x": 680,
        "y": 60,
        "wires": [
            [
                "91cb62f.dc5b0a"
            ]
        ]
    },
    {
        "id": "91cb62f.dc5b0a",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "!night",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "9cb3b387.dc6da"
            ]
        ]
    },
    {
        "id": "9c6cab25.ff2de8",
        "type": "hubitat mode",
        "z": "73f998b9.8842a8",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": false,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "314b1149.45429e"
            ]
        ]
    },
    {
        "id": "314b1149.45429e",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "!night",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "47080bca.7ec5c4"
            ]
        ]
    },
    {
        "id": "410479d9.0625d8",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "off",
        "commandArgs": "",
        "x": 530,
        "y": 60,
        "wires": [
            [
                "7bdd715.d136d9"
            ]
        ]
    },
    {
        "id": "be21259d.1ec948",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "off",
        "commandArgs": "",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "33f5a68d.21358a"
            ]
        ]
    },
    {
        "id": "62e2193c.2b9368",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "off",
        "commandArgs": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "901f1a7f.229298"
            ]
        ]
    },
    {
        "id": "14b0e991.d2c5a6",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "501",
        "command": "off",
        "commandArgs": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "9c6cab25.ff2de8"
            ]
        ]
    },
    {
        "id": "e87b6f2.9c7329",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 560,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7d33fcce.8c2964",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "on",
        "commandArgs": "",
        "x": 560,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f8082117.809db",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 560,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "53eab9ae.4e62e8",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 560,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6b1eb982.8dcaf8",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "73f998b9.8842a8",
        "name": "",
        "env": [],
        "x": 290,
        "y": 620,
        "wires": [
            [
                "e87b6f2.9c7329"
            ],
            [
                "7d33fcce.8c2964"
            ],
            [
                "f8082117.809db"
            ],
            [
                "53eab9ae.4e62e8"
            ]
        ]
    },
    {
        "id": "2cb4155c.cce7fa",
        "type": "switch",
        "z": "5c3cd757.a086c8",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "disable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "disable (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensing",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ]
        ]
    },
    {
        "id": "a17b47a4.460078",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "off",
        "commandArgs": "",
        "x": 550,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e05642db.52579",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "off",
        "commandArgs": "",
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cb47b315.09e5d",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "off",
        "commandArgs": "",
        "x": 550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8f0bcf48.a54aa",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "42660c0d.123e94",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 550,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d992582.db679a8",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "on",
        "commandArgs": "",
        "x": 550,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9824a1.aebd7b",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "daaeaf91.84a0b",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 550,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2d0e707f.31733",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "5c3cd757.a086c8",
        "name": "",
        "env": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "a17b47a4.460078"
            ],
            [
                "e05642db.52579"
            ],
            [
                "cb47b315.09e5d"
            ],
            [
                "8f0bcf48.a54aa"
            ]
        ]
    },
    {
        "id": "c97a0e5a.2dbbd",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "5c3cd757.a086c8",
        "name": "",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "42660c0d.123e94"
            ],
            [
                "d992582.db679a8"
            ],
            [
                "1f9824a1.aebd7b"
            ],
            [
                "daaeaf91.84a0b"
            ]
        ]
    },
    {
        "id": "897fdfe1.a317a",
        "type": "inject",
        "z": "5618f29.6116b0c",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "2cb2a0cf.6c3d2"
            ]
        ]
    },
    {
        "id": "2cb2a0cf.6c3d2",
        "type": "alexa-remote-echo",
        "z": "5618f29.6116b0c",
        "name": "",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "get",
            "value": {
                "what": "device",
                "device": {
                    "type": "str",
                    "value": "ALEXA_ALL_DSN"
                }
            }
        },
        "x": 450,
        "y": 320,
        "wires": [
            [
                "a007ddb2.26f0d"
            ]
        ]
    },
    {
        "id": "a007ddb2.26f0d",
        "type": "split",
        "z": "5618f29.6116b0c",
        "name": "Split Devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "b4928870.9ad468"
            ]
        ]
    },
    {
        "id": "b4928870.9ad468",
        "type": "switch",
        "z": "5618f29.6116b0c",
        "name": "Filter Echos",
        "property": "payload.deviceFamily",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ECHO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "13cd680f.9ca1e8"
            ]
        ]
    },
    {
        "id": "13cd680f.9ca1e8",
        "type": "change",
        "z": "5618f29.6116b0c",
        "name": "Copy Relevant Data",
        "rules": [
            {
                "t": "set",
                "p": "device.serialNumber",
                "pt": "msg",
                "to": "payload.serialNumber",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "device.accountName",
                "pt": "msg",
                "to": "payload.accountName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 320,
        "wires": [
            [
                "cf715b44.69d488"
            ]
        ]
    },
    {
        "id": "cf715b44.69d488",
        "type": "debug",
        "z": "5618f29.6116b0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa69c09b.970a2",
        "type": "switch",
        "z": "116ef4ea.86891b",
        "name": "Phrase Handler (on/off general)",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn off (the )?lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?lights",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4084a695.121078",
        "type": "alexa-remote-event",
        "z": "116ef4ea.86891b",
        "name": "Brandon's Devices",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "85210287.bf1ff"
            ]
        ]
    },
    {
        "id": "85210287.bf1ff",
        "type": "switch",
        "z": "116ef4ea.86891b",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "aa69c09b.970a2",
                "cc5b377c.34c4e8",
                "288a9df7.2202d2"
            ]
        ]
    },
    {
        "id": "cc5b377c.34c4e8",
        "type": "switch",
        "z": "116ef4ea.86891b",
        "name": "Phrase Handler (off specific)",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn off (the )?downstairs lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?kitchen lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?dining room lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off all (the )?lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "etc...",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 420,
        "y": 300,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "288a9df7.2202d2",
        "type": "switch",
        "z": "116ef4ea.86891b",
        "name": "Phrase Handler (on specific)",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn on (the )?downstairs lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?kitchen lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?dining room lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on all (the )?lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "etc...",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 420,
        "y": 540,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "f5068574.959678",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Device Handler (Serial Decoder)",
        "info": "",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "14c9df05.d01f21",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Device Handler (Serial Decoder)",
        "info": "",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "49cc1d8.77dfde4",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Downstairs Actions",
        "info": "",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8f56a2e.6f8628",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Kitchen Actions",
        "info": "",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "af561cc6.d04c5",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Dining Room Actions",
        "info": "",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f03eef2.2253d1",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "All Actions",
        "info": "",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "9dedb83b.419a18",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "etc...",
        "info": "",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "2a05c68.61da73a",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Downstairs Actions",
        "info": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "a984acbc.77b56",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Kitchen Actions",
        "info": "",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "8db0484d.9c2a08",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "Dining Room Actions",
        "info": "",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "d6097de4.a50cd",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "All Actions",
        "info": "",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "af5b41ea.15581",
        "type": "comment",
        "z": "116ef4ea.86891b",
        "name": "etc...",
        "info": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "39bb0fcb.6ffa5",
        "type": "alexa-remote-event",
        "z": "116ef4ea.86891b",
        "name": "Carter's Devices",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "85210287.bf1ff"
            ]
        ]
    },
    {
        "id": "6d76fdb7.158094",
        "type": "subflow:5618f29.6116b0c",
        "z": "116ef4ea.86891b",
        "name": "",
        "x": 440,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe443eb.5cf64",
        "type": "inject",
        "z": "116ef4ea.86891b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 760,
        "wires": [
            [
                "6d76fdb7.158094"
            ]
        ]
    },
    {
        "id": "7be640d3.3a56a",
        "type": "inject",
        "z": "116ef4ea.86891b",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "4014e8f4.ee2f58"
            ]
        ]
    },
    {
        "id": "4014e8f4.ee2f58",
        "type": "alexa-remote-echo",
        "z": "116ef4ea.86891b",
        "name": "",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "get",
            "value": {
                "what": "device",
                "device": {
                    "type": "str",
                    "value": "ALEXA_ALL_DSN"
                }
            }
        },
        "x": 450,
        "y": 700,
        "wires": [
            [
                "81b06775.03f508"
            ]
        ]
    },
    {
        "id": "81b06775.03f508",
        "type": "split",
        "z": "116ef4ea.86891b",
        "name": "Split Devices",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 700,
        "wires": [
            [
                "16a88faf.02192"
            ]
        ]
    },
    {
        "id": "16a88faf.02192",
        "type": "switch",
        "z": "116ef4ea.86891b",
        "name": "Filter Echos",
        "property": "payload.deviceFamily",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ECHO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "9b62d419.598bb8"
            ]
        ]
    },
    {
        "id": "9b62d419.598bb8",
        "type": "change",
        "z": "116ef4ea.86891b",
        "name": "Copy Relevant Data",
        "rules": [
            {
                "t": "set",
                "p": "device.serialNumber",
                "pt": "msg",
                "to": "payload.serialNumber",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "device.accountName",
                "pt": "msg",
                "to": "payload.accountName",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 700,
        "wires": [
            [
                "1a010d30.7c1fa3"
            ]
        ]
    },
    {
        "id": "1a010d30.7c1fa3",
        "type": "debug",
        "z": "116ef4ea.86891b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "device",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 700,
        "wires": []
    },
    {
        "id": "f2d6a1e1.a6f4a",
        "type": "alexa-remote-smarthome",
        "z": "e1557285.e3f86",
        "name": "Fan Day",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "action",
            "value": [
                {
                    "entity": "03932712-3894-49bb-9505-4d58a8a37f6a",
                    "action": "sceneActivate"
                }
            ]
        },
        "outputs": 1,
        "x": 960,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dffb6a18.069798",
        "type": "alexa-remote-event",
        "z": "e1557285.e3f86",
        "name": "",
        "account": "d452a9d3.7a4488",
        "event": "ws-device-activity",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "c697b7af.93a0c8"
            ]
        ]
    },
    {
        "id": "e6eb5ab8.3088d8",
        "type": "alexa-remote-smarthome",
        "z": "e1557285.e3f86",
        "name": "Fan Evening",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "action",
            "value": [
                {
                    "entity": "6b193ce2-f661-4f8d-b30b-e425a81271be",
                    "action": "sceneActivate"
                }
            ]
        },
        "outputs": 1,
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73e39005.b9e7e",
        "type": "alexa-remote-smarthome",
        "z": "e1557285.e3f86",
        "name": "Fan Night/Morning",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "action",
            "value": [
                {
                    "entity": "bd8d9a95-2bc7-4698-bbf7-3cc541f586d3",
                    "action": "sceneActivate"
                }
            ]
        },
        "outputs": 1,
        "x": 990,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bd227bfd.da22e8",
        "type": "change",
        "z": "e1557285.e3f86",
        "name": "Stop Motion Timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "73e39005.b9e7e",
                "61d3530e.894b9c"
            ]
        ]
    },
    {
        "id": "a3d9aac.9918e58",
        "type": "alexa-remote-smarthome",
        "z": "e1557285.e3f86",
        "name": "Fan Off",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "action",
            "value": [
                {
                    "entity": "ead47ff6-ccac-4f12-812d-e662dec04bf2",
                    "action": "sceneActivate"
                }
            ]
        },
        "outputs": 1,
        "x": 960,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "78903f12.c5128",
        "type": "within-time-switch",
        "z": "e1557285.e3f86",
        "name": "Day",
        "nameInt": "",
        "positionConfig": "433a14d5.44c6dc",
        "startTime": "goldenHourDawnEnd",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "sunset",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "ca260f87.93f17"
            ],
            []
        ]
    },
    {
        "id": "2dc7aabb.e7e7b6",
        "type": "within-time-switch",
        "z": "e1557285.e3f86",
        "name": "Evening",
        "nameInt": "",
        "positionConfig": "433a14d5.44c6dc",
        "startTime": "sunset",
        "startTimeType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "23:59",
        "endTimeType": "entered",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "721fc686.712798"
            ],
            []
        ]
    },
    {
        "id": "f00d1538.96cb78",
        "type": "within-time-switch",
        "z": "e1557285.e3f86",
        "name": "Night/Morning",
        "nameInt": "",
        "positionConfig": "433a14d5.44c6dc",
        "startTime": "0:00",
        "startTimeType": "entered",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "endTime": "goldenHourDawnEnd",
        "endTimeType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "4985e4fd.b7d07c"
            ],
            []
        ]
    },
    {
        "id": "3a9c918f.31e2ee",
        "type": "arlo-out",
        "z": "c72800c4.5f936",
        "name": "240 Basestation",
        "service": "283e8204.4178ae",
        "device": "4R03777PA2C83",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "7e633e33.22216",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Brandon",
        "server": "b130c189.ea4d2",
        "deviceId": "493",
        "attribute": "presence",
        "sendEvent": true,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "9f7dd1e7.80f0b",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Colin",
        "server": "b130c189.ea4d2",
        "deviceId": "196",
        "attribute": "presence",
        "sendEvent": true,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "686a0f13.80b6c",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Hannah",
        "server": "b130c189.ea4d2",
        "deviceId": "494",
        "attribute": "presence",
        "sendEvent": true,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "a12adaac.d9d4b8",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Kevin",
        "server": "b130c189.ea4d2",
        "deviceId": "199",
        "attribute": "presence",
        "sendEvent": true,
        "x": 230,
        "y": 60,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "fb38c864.f5b9d8",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Marisa",
        "server": "b130c189.ea4d2",
        "deviceId": "496",
        "attribute": "presence",
        "sendEvent": true,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "858d9fbf.b9b2e",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Shaun",
        "server": "b130c189.ea4d2",
        "deviceId": "495",
        "attribute": "presence",
        "sendEvent": true,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "5f50aa44.6c3514",
        "type": "hubitat device",
        "z": "1ca15330.84243d",
        "name": "Presence - Trish",
        "server": "b130c189.ea4d2",
        "deviceId": "200",
        "attribute": "presence",
        "sendEvent": true,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "39b093f4.f5bdbc"
            ]
        ]
    },
    {
        "id": "61d3530e.894b9c",
        "type": "stoptimer-varidelay",
        "z": "e1557285.e3f86",
        "duration": "1",
        "durationType": "num",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "reporting": "every_second",
        "persist": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "a3d9aac.9918e58"
            ],
            [],
            []
        ]
    },
    {
        "id": "ca260f87.93f17",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Motion Handler",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "a83420c1.dc341"
            ],
            [
                "2c96f340.d344fc"
            ]
        ],
        "outputLabels": [
            "Motion",
            "No Motion"
        ]
    },
    {
        "id": "889fff4a.6443d",
        "type": "stoptimer-varidelay",
        "z": "e1557285.e3f86",
        "duration": "3",
        "durationType": "num",
        "units": "Minute",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "reporting": "last_minute_seconds",
        "persist": false,
        "x": 700,
        "y": 240,
        "wires": [
            [
                "a3d9aac.9918e58"
            ],
            [],
            []
        ]
    },
    {
        "id": "2c96f340.d344fc",
        "type": "stoptimer-varidelay",
        "z": "e1557285.e3f86",
        "duration": "30",
        "durationType": "num",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "",
        "reporting": "every_second",
        "persist": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "a3d9aac.9918e58"
            ],
            [],
            []
        ]
    },
    {
        "id": "cca5846.1475b78",
        "type": "change",
        "z": "e1557285.e3f86",
        "name": "Stop Motion Timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "e6eb5ab8.3088d8",
                "889fff4a.6443d"
            ]
        ]
    },
    {
        "id": "a83420c1.dc341",
        "type": "change",
        "z": "e1557285.e3f86",
        "name": "Stop Motion Timer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 60,
        "wires": [
            [
                "f2d6a1e1.a6f4a",
                "2c96f340.d344fc"
            ]
        ]
    },
    {
        "id": "5e799950.145b48",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Override Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "disable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "disable (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensing",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 350,
        "y": 520,
        "wires": [
            [
                "585fe293.44be3c"
            ],
            [
                "585fe293.44be3c"
            ],
            [
                "585fe293.44be3c"
            ],
            [
                "585fe293.44be3c"
            ],
            [
                "79caf9de.681fd8"
            ],
            [
                "79caf9de.681fd8"
            ],
            [
                "79caf9de.681fd8"
            ],
            [
                "79caf9de.681fd8"
            ]
        ]
    },
    {
        "id": "585fe293.44be3c",
        "type": "function",
        "z": "e1557285.e3f86",
        "name": "Motion Off",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar myMotion = flow.get('motion',\"file\")||0;\nmyMotion = false\n// store the value back\nflow.set('motion',myMotion,\"file\");\n// make it part of the outgoing msg object\nmsg.payload.motion = motion;\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "79caf9de.681fd8",
        "type": "function",
        "z": "e1557285.e3f86",
        "name": "Motion On",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar myMotion = flow.get('motion',\"file\")||0;\nmyMotion = true\n// store the value back\nflow.set('motion',myMotion,\"file\");\n// make it part of the outgoing msg object\nmsg.payload.motion = motion;\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "53101c6a.f83a74",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Motion Override",
        "property": "#:(file)::motion",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2dc7aabb.e7e7b6",
                "78903f12.c5128",
                "f00d1538.96cb78"
            ],
            []
        ]
    },
    {
        "id": "8b43b0a6.e46b7",
        "type": "inject",
        "z": "c72800c4.5f936",
        "name": "Arm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mode",
        "payload": "true",
        "payloadType": "bool",
        "x": 950,
        "y": 140,
        "wires": [
            [
                "3a9c918f.31e2ee"
            ]
        ]
    },
    {
        "id": "80ce59ce.052888",
        "type": "inject",
        "z": "c72800c4.5f936",
        "name": "Disarm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mode",
        "payload": "false",
        "payloadType": "bool",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "3a9c918f.31e2ee"
            ]
        ]
    },
    {
        "id": "8a8ff10b.c3fa9",
        "type": "BooleanLogicUltimate",
        "z": "1ca15330.84243d",
        "name": "",
        "filtertrue": "both",
        "persist": true,
        "sInitializeWith": "false",
        "triggertopic": "trigger",
        "outputtriggeredby": "all",
        "inputCount": "7",
        "topic": "presence",
        "x": 760,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4452f68d.2a21e8",
        "type": "change",
        "z": "1ca15330.84243d",
        "name": "present",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "8a8ff10b.c3fa9"
            ]
        ]
    },
    {
        "id": "39b093f4.f5bdbc",
        "type": "switch",
        "z": "1ca15330.84243d",
        "name": "Presence",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "present",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not present",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "4452f68d.2a21e8"
            ],
            [
                "e215d913.297bb8"
            ]
        ]
    },
    {
        "id": "e215d913.297bb8",
        "type": "change",
        "z": "1ca15330.84243d",
        "name": "!present",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "8a8ff10b.c3fa9"
            ]
        ]
    },
    {
        "id": "5c164add.bdd174",
        "type": "BooleanLogicUltimate",
        "z": "c72800c4.5f936",
        "name": "",
        "filtertrue": "both",
        "persist": true,
        "sInitializeWith": "WaitForPayload",
        "triggertopic": "trigger",
        "outputtriggeredby": "all",
        "inputCount": "2",
        "topic": "mode",
        "x": 740,
        "y": 200,
        "wires": [
            [],
            [
                "3a9c918f.31e2ee"
            ],
            []
        ]
    },
    {
        "id": "135bf1b8.6d288e",
        "type": "hubitat mode",
        "z": "c72800c4.5f936",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": true,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "ac32b038.b96a8"
            ]
        ]
    },
    {
        "id": "2fe516ec.e6bc6a",
        "type": "change",
        "z": "c72800c4.5f936",
        "name": "Arm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "5c164add.bdd174"
            ]
        ]
    },
    {
        "id": "adf74fc0.5e5d2",
        "type": "change",
        "z": "c72800c4.5f936",
        "name": "Disarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "5c164add.bdd174"
            ]
        ]
    },
    {
        "id": "ac32b038.b96a8",
        "type": "switch",
        "z": "c72800c4.5f936",
        "name": "Mode Switch",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Night",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "adf74fc0.5e5d2"
            ],
            [
                "adf74fc0.5e5d2"
            ],
            [
                "2fe516ec.e6bc6a"
            ],
            [
                "2fe516ec.e6bc6a"
            ]
        ]
    },
    {
        "id": "427bee3c.6d4c1",
        "type": "hubitat device",
        "z": "c72800c4.5f936",
        "name": "Presence - Overall",
        "server": "b130c189.ea4d2",
        "deviceId": "198",
        "attribute": "presence",
        "sendEvent": true,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "fa6f0afc.8b33a8"
            ]
        ]
    },
    {
        "id": "bc14a7b4.79cf28",
        "type": "change",
        "z": "c72800c4.5f936",
        "name": "Arm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "135bf1b8.6d288e",
                "5c164add.bdd174"
            ]
        ]
    },
    {
        "id": "fa6f0afc.8b33a8",
        "type": "switch",
        "z": "c72800c4.5f936",
        "name": "Presence",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "present",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not present",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "e84f9d5c.7fd68"
            ],
            [
                "bc14a7b4.79cf28"
            ]
        ]
    },
    {
        "id": "e84f9d5c.7fd68",
        "type": "change",
        "z": "c72800c4.5f936",
        "name": "Disarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "135bf1b8.6d288e",
                "5c164add.bdd174"
            ]
        ]
    },
    {
        "id": "d57b1566.afcb68",
        "type": "inject",
        "z": "c72800c4.5f936",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "427bee3c.6d4c1"
            ]
        ]
    },
    {
        "id": "e5a1b2d2.030f9",
        "type": "arlo-out",
        "z": "7e547b10.f1db64",
        "name": "240 Basestation",
        "service": "283e8204.4178ae",
        "device": "4R03777PA2C83",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "76b84738.3321c8",
        "type": "inject",
        "z": "7e547b10.f1db64",
        "name": "Arm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mode",
        "payload": "true",
        "payloadType": "bool",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "e5a1b2d2.030f9"
            ]
        ]
    },
    {
        "id": "e8201cf6.8b20e",
        "type": "inject",
        "z": "7e547b10.f1db64",
        "name": "Disarm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "mode",
        "payload": "false",
        "payloadType": "bool",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "e5a1b2d2.030f9"
            ]
        ]
    },
    {
        "id": "b7b79b46.61f3d8",
        "type": "change",
        "z": "7e547b10.f1db64",
        "name": "Arm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "e5a1b2d2.030f9"
            ]
        ]
    },
    {
        "id": "2be371d3.c1692e",
        "type": "change",
        "z": "7e547b10.f1db64",
        "name": "Disarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "e5a1b2d2.030f9"
            ]
        ]
    },
    {
        "id": "2bb84f58.c744",
        "type": "switch",
        "z": "7e547b10.f1db64",
        "name": "Mode Switch",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Night",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Away",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "2be371d3.c1692e"
            ],
            [
                "2be371d3.c1692e"
            ],
            [
                "b7b79b46.61f3d8"
            ],
            [
                "b7b79b46.61f3d8"
            ]
        ]
    },
    {
        "id": "23ebb0ad.93fa9",
        "type": "alexa-remote-event",
        "z": "7e547b10.f1db64",
        "name": "",
        "account": "d452a9d3.7a4488",
        "event": "ws-device-activity",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "3269284b.9fbe58"
            ]
        ]
    },
    {
        "id": "3269284b.9fbe58",
        "type": "switch",
        "z": "7e547b10.f1db64",
        "name": "Override Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "disable (the )?arlo",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "disarm (the )?arlo",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?arlo",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?arlo",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?arlo",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "arm (the )?arlo",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "2be371d3.c1692e"
            ],
            [
                "2be371d3.c1692e"
            ],
            [
                "2be371d3.c1692e"
            ],
            [
                "b7b79b46.61f3d8"
            ],
            [
                "b7b79b46.61f3d8"
            ],
            [
                "b7b79b46.61f3d8"
            ]
        ]
    },
    {
        "id": "63550b0f.dce3c4",
        "type": "link in",
        "z": "7e547b10.f1db64",
        "name": "Arlo Change",
        "links": [
            "19c790a8.4f13cf"
        ],
        "x": 215,
        "y": 180,
        "wires": [
            [
                "2bb84f58.c744"
            ]
        ]
    },
    {
        "id": "1212519a.eda15e",
        "type": "inject",
        "z": "7e547b10.f1db64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "2bb84f58.c744"
            ]
        ]
    },
    {
        "id": "cec6d88e.0d5658",
        "type": "alexa-remote-event",
        "z": "4702b097.59f3b",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "88c64ec0.d9d7e"
            ]
        ]
    },
    {
        "id": "88c64ec0.d9d7e",
        "type": "switch",
        "z": "4702b097.59f3b",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "da6ac8d6.218fe8"
            ]
        ]
    },
    {
        "id": "da6ac8d6.218fe8",
        "type": "link out",
        "z": "4702b097.59f3b",
        "name": "Alexa On Device Activity (Post Wake Handler)",
        "links": [
            "69216b2f.5a7f84",
            "8b6715e.c7095e8",
            "e3edea19.a9c2f8",
            "68c646a1.6aa018"
        ],
        "x": 455,
        "y": 360,
        "wires": []
    },
    {
        "id": "779a8cbf.6ea9d4",
        "type": "hubitat mode",
        "z": "4702b097.59f3b",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": true,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "19c790a8.4f13cf"
            ]
        ]
    },
    {
        "id": "19c790a8.4f13cf",
        "type": "link out",
        "z": "4702b097.59f3b",
        "name": "Hubitat Mode",
        "links": [
            "162f458b.b5ce3a",
            "63550b0f.dce3c4"
        ],
        "x": 455,
        "y": 160,
        "wires": []
    },
    {
        "id": "162f458b.b5ce3a",
        "type": "link in",
        "z": "345f283.d5796d8",
        "name": "Mode Change",
        "links": [
            "19c790a8.4f13cf"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "ae57b7da.109528",
                "59d071a7.8a464",
                "8e74d342.066a6",
                "9672e767.fceda8",
                "9f83e2cc.07492"
            ]
        ]
    },
    {
        "id": "e3edea19.a9c2f8",
        "type": "link in",
        "z": "d61084e.39e0678",
        "name": "Volume Trigger",
        "links": [
            "da6ac8d6.218fe8"
        ],
        "x": 175,
        "y": 60,
        "wires": [
            [
                "6118732f.6ede7c"
            ]
        ]
    },
    {
        "id": "69216b2f.5a7f84",
        "type": "link in",
        "z": "68ba5945.906288",
        "name": "Light and Fan Trigger",
        "links": [
            "da6ac8d6.218fe8"
        ],
        "x": 155,
        "y": 120,
        "wires": [
            [
                "e188401e.b56c",
                "80bb010d.082ce"
            ]
        ]
    },
    {
        "id": "8b6715e.c7095e8",
        "type": "link in",
        "z": "73f998b9.8842a8",
        "name": "Goodnight and Good Morning Trigger",
        "links": [
            "da6ac8d6.218fe8"
        ],
        "x": 175,
        "y": 360,
        "wires": [
            [
                "e96cba5a.0480d8"
            ]
        ]
    },
    {
        "id": "68c646a1.6aa018",
        "type": "link in",
        "z": "5c3cd757.a086c8",
        "name": "Motion Overrides",
        "links": [
            "da6ac8d6.218fe8"
        ],
        "x": 155,
        "y": 280,
        "wires": [
            [
                "2cb4155c.cce7fa"
            ]
        ]
    },
    {
        "id": "f59f40fd.ccc8f",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "good( )?night",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "good( )?morning",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "585fe293.44be3c",
                "a3d9aac.9918e58"
            ],
            [
                "79caf9de.681fd8"
            ]
        ]
    },
    {
        "id": "9f25d049.ddeb3",
        "type": "alexa-smart-home-v3",
        "z": "e1557285.e3f86",
        "conf": "bdfee576.1c2a08",
        "device": "19089",
        "acknowledge": true,
        "name": "Virtual Motion",
        "topic": "motion",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "53101c6a.f83a74"
            ]
        ]
    },
    {
        "id": "4985e4fd.b7d07c",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Motion Handler",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "bd227bfd.da22e8"
            ],
            [
                "61d3530e.894b9c"
            ]
        ],
        "outputLabels": [
            "Motion",
            "No Motion"
        ]
    },
    {
        "id": "721fc686.712798",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Motion Handler",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "cca5846.1475b78"
            ],
            [
                "889fff4a.6443d"
            ]
        ],
        "outputLabels": [
            "Motion",
            "No Motion"
        ]
    },
    {
        "id": "ab3a6427.8164d8",
        "type": "alexa-smart-home-v3",
        "z": "e1557285.e3f86",
        "conf": "bdfee576.1c2a08",
        "device": "19087",
        "acknowledge": true,
        "name": "Motion Sensor",
        "topic": "",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "3bab14fd.a6348c"
            ]
        ]
    },
    {
        "id": "5f171349.45d70c",
        "type": "alexa-smart-home-v3",
        "z": "e1557285.e3f86",
        "conf": "bdfee576.1c2a08",
        "device": "19088",
        "acknowledge": true,
        "name": "Motion Sensing",
        "topic": "",
        "x": 340,
        "y": 700,
        "wires": [
            [
                "3bab14fd.a6348c"
            ]
        ]
    },
    {
        "id": "3bab14fd.a6348c",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Override Handler",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "79caf9de.681fd8"
            ],
            [
                "585fe293.44be3c"
            ]
        ],
        "outputLabels": [
            "Motion",
            "No Motion"
        ]
    },
    {
        "id": "e6052e34.e22db",
        "type": "time-inject",
        "z": "e1557285.e3f86",
        "name": "Day",
        "nameInt": " golden hour dawn end = 75",
        "positionConfig": "433a14d5.44c6dc",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "75",
                "vt": "num",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "goldenHourDawnEnd",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 670,
        "y": 660,
        "wires": [
            [
                "2ba2e322.8d793c"
            ]
        ]
    },
    {
        "id": "2ba2e322.8d793c",
        "type": "alexa-remote-echo",
        "z": "e1557285.e3f86",
        "name": "Colin's Bedroom - Echo Volume",
        "account": "d452a9d3.7a4488",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G0014B0594641L0V"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload"
                }
            }
        },
        "x": 890,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "43b3b4b4.b1605c",
        "type": "time-inject",
        "z": "e1557285.e3f86",
        "name": "Evening",
        "nameInt": " sunset = 50",
        "positionConfig": "433a14d5.44c6dc",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "50",
                "vt": "num",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunset",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 660,
        "y": 720,
        "wires": [
            [
                "2ba2e322.8d793c"
            ]
        ]
    },
    {
        "id": "7c9dd3b3.4e2a0c",
        "type": "time-inject",
        "z": "e1557285.e3f86",
        "name": "Night/Morning",
        "nameInt": " 0:00 = 25",
        "positionConfig": "433a14d5.44c6dc",
        "props": [
            {
                "p": "",
                "pt": "msgPayload",
                "v": "25",
                "vt": "num",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": true,
                "days": ""
            },
            {
                "p": "",
                "pt": "msgTopic",
                "v": "",
                "vt": "str",
                "o": "",
                "oT": "none",
                "oM": "60000",
                "f": 0,
                "fS": 0,
                "fT": "UNIX timestamp (ms)",
                "fI": "0",
                "next": false,
                "days": ""
            }
        ],
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "0:00",
        "timeType": "entered",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "recalcTime": 2,
        "x": 650,
        "y": 780,
        "wires": [
            [
                "2ba2e322.8d793c"
            ]
        ]
    },
    {
        "id": "fa9716f5.f729a8",
        "type": "alexa-remote-init",
        "z": "e1557285.e3f86",
        "name": "",
        "account": "d452a9d3.7a4488",
        "option": "refresh",
        "x": 960,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fd765dff.7bfed",
        "type": "inject",
        "z": "e1557285.e3f86",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "fa9716f5.f729a8"
            ]
        ]
    },
    {
        "id": "f4894861.c471d8",
        "type": "catch",
        "z": "e1557285.e3f86",
        "name": "catch: Alexa",
        "scope": [
            "f2d6a1e1.a6f4a",
            "dffb6a18.069798",
            "e6eb5ab8.3088d8",
            "73e39005.b9e7e",
            "a3d9aac.9918e58",
            "2ba2e322.8d793c"
        ],
        "uncaught": false,
        "x": 790,
        "y": 560,
        "wires": [
            [
                "fa9716f5.f729a8",
                "b2435ce5.48c79",
                "7348748.5fd988c"
            ]
        ]
    },
    {
        "id": "f7f23f72.8769f",
        "type": "alexa-remote-init",
        "z": "345f283.d5796d8",
        "name": "",
        "account": "4553eef5.ffc05",
        "option": "refresh",
        "x": 1160,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5fb140cc.85f56",
        "type": "inject",
        "z": "345f283.d5796d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "f7f23f72.8769f"
            ]
        ]
    },
    {
        "id": "399a5d24.7952f2",
        "type": "catch",
        "z": "345f283.d5796d8",
        "name": "catch: Alexa",
        "scope": [
            "db41473e.5574e8",
            "cfeb43bf.07772",
            "e4c569a1.755d98",
            "87177829.799d98",
            "4fa7d080.e694f"
        ],
        "uncaught": false,
        "x": 990,
        "y": 100,
        "wires": [
            [
                "f7f23f72.8769f",
                "64a37b20.98a5b4",
                "d9af6774.a1ebc8"
            ]
        ]
    },
    {
        "id": "f3a46699.643ff8",
        "type": "alexa-remote-init",
        "z": "d61084e.39e0678",
        "name": "",
        "account": "4553eef5.ffc05",
        "option": "refresh",
        "x": 1100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e5e03de2.fc1c1",
        "type": "inject",
        "z": "d61084e.39e0678",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 120,
        "wires": [
            [
                "f3a46699.643ff8"
            ]
        ]
    },
    {
        "id": "eb4583fa.1861b",
        "type": "catch",
        "z": "d61084e.39e0678",
        "name": "catch: Alexa",
        "scope": [
            "c0f915b6.e62fb8",
            "68e807d.954b0f8",
            "e4e76245.3c42",
            "eb6d4a12.1e44f8",
            "afd82140.f445b",
            "57115256.c8f83c",
            "558ee0bb.30b7f",
            "5a515b3f.122a34",
            "65f116d4.f76438",
            "9d412f46.25b99",
            "c1954c72.887de",
            "3bd73cb0.773a34",
            "ea17f4a9.8a2408",
            "29113ff2.7a2d1",
            "f81bf876.428948",
            "9434928a.e846d"
        ],
        "uncaught": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "f3a46699.643ff8",
                "2931e256.cec95e",
                "169e9dfb.2ef7b2"
            ]
        ]
    },
    {
        "id": "b2435ce5.48c79",
        "type": "function",
        "z": "e1557285.e3f86",
        "name": "Error Count",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar myRemote2_error = global.get('LF_remote2_error',\"file\")||0;\nmyRemote2_error = myRemote2_error + 1\n// store the value back\nglobal.set('LF_remote2_error',myRemote2_error,\"file\");\n// make it part of the outgoing msg object\nmsg.payload.errorCount = remote2_error;\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1010,
        "y": 560,
        "wires": []
    },
    {
        "id": "64a37b20.98a5b4",
        "type": "function",
        "z": "345f283.d5796d8",
        "name": "Error Count",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar myRemote2_error = global.get('BH_remote2_error',\"file\")||0;\nmyRemote2_error = myRemote2_error + 1\n// store the value back\nglobal.set('BH_remote2_error',myRemote2_error,\"file\");\n// make it part of the outgoing msg object\nmsg.payload.errorCount = remote2_error;\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "2931e256.cec95e",
        "type": "function",
        "z": "d61084e.39e0678",
        "name": "Error Count",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar myRemote2_error = global.get('BH_remote2_error',\"file\")||0;\nmyRemote2_error = myRemote2_error + 1\n// store the value back\nglobal.set('BH_remote2_error',myRemote2_error,\"file\");\n// make it part of the outgoing msg object\nmsg.payload.errorCount = remote2_error;\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "7348748.5fd988c",
        "type": "debug",
        "z": "e1557285.e3f86",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 930,
        "y": 600,
        "wires": []
    },
    {
        "id": "d9af6774.a1ebc8",
        "type": "debug",
        "z": "345f283.d5796d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1130,
        "y": 140,
        "wires": []
    },
    {
        "id": "169e9dfb.2ef7b2",
        "type": "debug",
        "z": "d61084e.39e0678",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "c697b7af.93a0c8",
        "type": "switch",
        "z": "e1557285.e3f86",
        "name": "Device Handler",
        "property": "payload.deviceSerialNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "G0014B0594641L0V",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U5099117260L",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090L91072151BM5",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "f59f40fd.ccc8f",
                "5e799950.145b48"
            ],
            [],
            []
        ],
        "inputLabels": [
            "Alexa Device Activity Payload"
        ],
        "outputLabels": [
            "Colin Echo Flex",
            "Den Echo Dot",
            "Living Room Echo Dot"
        ],
        "info": "Great Room - G090U509912423CC\nDownstairs Bedroom 1 - G6G0XG100134018V\nDownstairs Bedroom 2 - G090U509912424HF\nKitchen - G090U5099117264T\nMaster Bedroom - G090U509911620T7"
    }
]