flows_PiHole-PiVPN-NUT-3B.json
[
    {
        "id": "993c3146.12722",
        "type": "tab",
        "label": "Intro Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c3cd757.a086c8",
        "type": "tab",
        "label": "Motion Detection [Alexa]",
        "disabled": false,
        "info": "Enables and disables motion detection depending on the room you are in."
    },
    {
        "id": "73f998b9.8842a8",
        "type": "tab",
        "label": "GM,GN Routines [Alexa]",
        "disabled": false,
        "info": ""
    },
    {
        "id": "68ba5945.906288",
        "type": "tab",
        "label": "Light/Fan Control [Alexa]",
        "disabled": false,
        "info": "1) Turns lights on and off per the room you are in.\n2) Turns the fans on and off per the room you are in."
    },
    {
        "id": "d61084e.39e0678",
        "type": "tab",
        "label": "Volume Fix [Alexa]",
        "disabled": false,
        "info": ""
    },
    {
        "id": "345f283.d5796d8",
        "type": "tab",
        "label": "Mode Change",
        "disabled": false,
        "info": ""
    },
    {
        "id": "66eb8402.daa4fc",
        "type": "tab",
        "label": "Speed Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3e4e663.9ecbb8",
        "type": "tab",
        "label": "Automated Backups",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb4b5b0a.f09b68",
        "type": "subflow",
        "name": "Alexa Device Handler",
        "info": "This subflow takes a Alexa Device Activity payload and checks which Echo device it came from and directs the message accordingly.",
        "category": "alexa",
        "in": [
            {
                "x": 340,
                "y": 140,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 120,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 1
                    },
                    {
                        "id": "e67c4d69.4d19c",
                        "port": 2
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": "3"
                    }
                ]
            },
            {
                "x": 620,
                "y": 200,
                "wires": [
                    {
                        "id": "e67c4d69.4d19c",
                        "port": "4"
                    }
                ]
            }
        ],
        "env": [],
        "color": "#6FBAD8",
        "inputLabels": [
            "Alexa Device Activity Payload"
        ],
        "outputLabels": [
            "Great Room",
            "Downstairs Bedroom",
            "Kitchen",
            "Master Bedroom"
        ],
        "icon": "node-red-contrib-alexa-remote2/alexa-remote-icon.png"
    },
    {
        "id": "ac12c9d8.613d38",
        "type": "subflow",
        "name": "Mode Variables",
        "info": "This subflow generates the volume and level data for hubitat devices per mode",
        "category": "hubitat",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "c5d42927.3e5298"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 80,
                "wires": [
                    {
                        "id": "855041f7.b56ad",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 120,
                "wires": [
                    {
                        "id": "7ba362b4.9c660c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 620,
                "y": 160,
                "wires": [
                    {
                        "id": "ddb474ac.518768",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#ACE043",
        "outputLabels": [
            "Day",
            "Evening",
            "Night"
        ],
        "icon": "node-red/leveldb.png"
    },
    {
        "id": "b130c189.ea4d2",
        "type": "hubitat config",
        "z": "",
        "name": "Beach House Hubitat Config",
        "usetls": false,
        "host": "192.168.2.240",
        "port": "80",
        "appId": "801",
        "nodeRedServer": "http://192.168.2.253:1880",
        "webhookPath": "/hubitat/webhook",
        "autoRefresh": true,
        "useWebsocket": false
    },
    {
        "id": "4553eef5.ffc05",
        "type": "alexa-remote-account",
        "z": "",
        "name": "",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.253",
        "proxyPort": "3456",
        "cookieFile": "authFile",
        "refreshInterval": "3",
        "alexaServiceHost": "pitangui.amazon.com",
        "amazonPage": "amazon.com",
        "acceptLanguage": "en-US",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "fd6ba71d.7884c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bbc70dcb.af9b1",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "4cee48f3.b3b3a8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ea90f55.6cdc8",
        "type": "ui_group",
        "z": "",
        "name": "Charts",
        "tab": "4cee48f3.b3b3a8",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "4cee48f3.b3b3a8",
        "type": "ui_tab",
        "z": "",
        "name": "Internet Speed",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c4c56729.96e518",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "3d536109.b6c4ce"
            ]
        ]
    },
    {
        "id": "9e6c971.4835d68",
        "type": "debug",
        "z": "993c3146.12722",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d536109.b6c4ce",
        "type": "function",
        "z": "993c3146.12722",
        "name": "date2string",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "9e6c971.4835d68"
            ]
        ]
    },
    {
        "id": "24855f2d.60a5",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "bb801dde.6b336"
            ]
        ]
    },
    {
        "id": "bb801dde.6b336",
        "type": "debug",
        "z": "993c3146.12722",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "80bb010d.082ce",
        "type": "switch",
        "z": "68ba5945.906288",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn off (the )?lights",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?lights",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "df44fb1a.f08208"
            ],
            [
                "8bbc4fd1.22f5b"
            ]
        ]
    },
    {
        "id": "1737ebff.565734",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1572",
        "command": "off",
        "commandArgs": "",
        "x": 790,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6ae5ea.792f9c",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1574",
        "command": "off",
        "commandArgs": "",
        "x": 790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c73b5d38.e4ed6",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1573",
        "command": "off",
        "commandArgs": "",
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "83b32c58.41ce",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1575",
        "command": "off",
        "commandArgs": "",
        "x": 790,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "666629d2.9fdf18",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1574",
        "command": "on",
        "commandArgs": "",
        "x": 790,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a4468c2.dde517",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1573",
        "command": "on",
        "commandArgs": "",
        "x": 790,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5b9d4c70.22d984",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1575",
        "command": "on",
        "commandArgs": "",
        "x": 790,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "f5561f49.28d01",
        "type": "alexa-remote-event",
        "z": "68ba5945.906288",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1c34efac.1fc57"
            ]
        ]
    },
    {
        "id": "cd66091.af90cf8",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "1572",
        "command": "on",
        "commandArgs": "",
        "x": 790,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "88d0b4c0.bff528",
        "type": "comment",
        "z": "993c3146.12722",
        "name": "Basic Flows",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "4ae69c8b.848694",
        "type": "comment",
        "z": "993c3146.12722",
        "name": "Basic Hubitat Flow",
        "info": "",
        "x": 110,
        "y": 200,
        "wires": []
    },
    {
        "id": "d70073d4.24fb2",
        "type": "hubitat command",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights On",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "on",
        "commandArgs": "",
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f136b88f.d570b8",
        "type": "hubitat command",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights Off",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "off",
        "commandArgs": "",
        "x": 730,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ca4f3fd9.298",
        "type": "switch",
        "z": "993c3146.12722",
        "name": "",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "f136b88f.d570b8"
            ],
            [
                "d70073d4.24fb2"
            ]
        ]
    },
    {
        "id": "8a4fbf62.e1fbb",
        "type": "hubitat device",
        "z": "993c3146.12722",
        "name": "Kitchen - Overhead Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "attribute": "switch",
        "sendEvent": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "ca4f3fd9.298"
            ]
        ]
    },
    {
        "id": "fdf8f37b.f2aed",
        "type": "hubitat device",
        "z": "993c3146.12722",
        "name": "Node Red Test Button",
        "server": "b130c189.ea4d2",
        "deviceId": "804",
        "attribute": "pushed",
        "sendEvent": true,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "8a4fbf62.e1fbb"
            ]
        ]
    },
    {
        "id": "39d4a09d.8dda2",
        "type": "inject",
        "z": "993c3146.12722",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "8a4fbf62.e1fbb"
            ]
        ]
    },
    {
        "id": "e67c4d69.4d19c",
        "type": "switch",
        "z": "cb4b5b0a.f09b68",
        "name": "Device Handler",
        "property": "payload.deviceSerialNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "G090U509912423CC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G6G0XG100134018V",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U509912424HF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U5099117264T",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "G090U509911620T7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 140,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ],
        "inputLabels": [
            "Alexa Device Activity Payload"
        ],
        "outputLabels": [
            "Great Room",
            "Downstairs Bedroom 1",
            "Downstairs Bedroom 2",
            "Kitchen",
            "Master Bedroom"
        ],
        "info": "Great Room - G090U509912423CC\nDownstairs Bedroom 1 - G6G0XG100134018V\nDownstairs Bedroom 2 - G090U509912424HF\nKitchen - G090U5099117264T\nMaster Bedroom - G090U509911620T7"
    },
    {
        "id": "df44fb1a.f08208",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "env": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "1737ebff.565734"
            ],
            [
                "6f6ae5ea.792f9c"
            ],
            [
                "c73b5d38.e4ed6"
            ],
            [
                "83b32c58.41ce"
            ]
        ]
    },
    {
        "id": "8bbc4fd1.22f5b",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "x": 560,
        "y": 520,
        "wires": [
            [
                "cd66091.af90cf8"
            ],
            [
                "666629d2.9fdf18"
            ],
            [
                "a4468c2.dde517"
            ],
            [
                "5b9d4c70.22d984"
            ]
        ]
    },
    {
        "id": "c5d42927.3e5298",
        "type": "hubitat mode",
        "z": "ac12c9d8.613d38",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": true,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "910dea66.534338"
            ]
        ]
    },
    {
        "id": "910dea66.534338",
        "type": "switch",
        "z": "ac12c9d8.613d38",
        "name": "Mode Switch",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Evening",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "855041f7.b56ad"
            ],
            [
                "7ba362b4.9c660c"
            ],
            [
                "ddb474ac.518768"
            ]
        ]
    },
    {
        "id": "855041f7.b56ad",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Day",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba362b4.9c660c",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Evening",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "60",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ddb474ac.518768",
        "type": "change",
        "z": "ac12c9d8.613d38",
        "name": "Night",
        "rules": [
            {
                "t": "set",
                "p": "payload.volume",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "payload.level",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ae57b7da.109528",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "Refresh UPS Monitor",
        "server": "b130c189.ea4d2",
        "deviceId": "610",
        "command": "initialize",
        "commandArgs": "",
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8e74d342.066a6",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "DB - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9672e767.fceda8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2d2a8e8.4a5c572",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "DB - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c02cfc03.3f358",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e1bf2646.a068a8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "presetLevel",
        "commandArgs": "",
        "x": 730,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "db41473e.5574e8",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "GR - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 730,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "cfeb43bf.07772",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "KT - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c569a1.755d98",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "DB - Echo M Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "87177829.799d98",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "DB - Echo S Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 740,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4fa7d080.e694f",
        "type": "alexa-remote-echo",
        "z": "345f283.d5796d8",
        "name": "MB - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f1500ac3.c148b8",
        "type": "inject",
        "z": "345f283.d5796d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "9f83e2cc.07492",
                "9672e767.fceda8",
                "8e74d342.066a6",
                "ae57b7da.109528",
                "59d071a7.8a464"
            ]
        ]
    },
    {
        "id": "e188401e.b56c",
        "type": "switch",
        "z": "68ba5945.906288",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "turn on (the )?fan",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?heater",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?climate control",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?fan",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?heater",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?climate control",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "15d1855a.e9ec2b"
            ],
            [
                "15d1855a.e9ec2b"
            ],
            [
                "15d1855a.e9ec2b"
            ],
            [
                "b197f08b.eb07d"
            ],
            [
                "b197f08b.eb07d"
            ],
            [
                "b197f08b.eb07d"
            ]
        ]
    },
    {
        "id": "15d1855a.e9ec2b",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "x": 580,
        "y": 80,
        "wires": [
            [],
            [],
            [],
            [
                "7d147fb3.279c5"
            ]
        ]
    },
    {
        "id": "b197f08b.eb07d",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "68ba5945.906288",
        "name": "",
        "env": [],
        "x": 580,
        "y": 160,
        "wires": [
            [],
            [],
            [],
            [
                "b02ae8f9.a1d848"
            ]
        ]
    },
    {
        "id": "7d147fb3.279c5",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Heater/Fan",
        "server": "b130c189.ea4d2",
        "deviceId": "66",
        "command": "on",
        "commandArgs": "",
        "x": 800,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b02ae8f9.a1d848",
        "type": "hubitat command",
        "z": "68ba5945.906288",
        "name": "MB - Heater/Fan",
        "server": "b130c189.ea4d2",
        "deviceId": "66",
        "command": "off",
        "commandArgs": "",
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9f83e2cc.07492",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Kasa Dimmer",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "setPollInterval",
        "commandArgs": "5",
        "x": 370,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "831fec5d.5f762",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b7b654.a635e8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8987899c.d65958",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c55c8143.8aefc",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "831fec5d.5f762",
                "c4b7b654.a635e8",
                "8987899c.d65958"
            ]
        ]
    },
    {
        "id": "486da55c.d30acc",
        "type": "hubitat location",
        "z": "345f283.d5796d8",
        "name": "location",
        "server": "b130c189.ea4d2",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a44ccae0.1fbd48"
            ]
        ]
    },
    {
        "id": "1f71ef48.e3d2b1",
        "type": "template",
        "z": "66eb8402.daa4fc",
        "name": "time",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{mydate}} {{myhourpm}}:{{myminute}} {{mypm}}",
        "output": "str",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "20d947ba.574ff8"
            ]
        ]
    },
    {
        "id": "90ec36f0.76ff08",
        "type": "switch",
        "z": "66eb8402.daa4fc",
        "name": "down < 75",
        "property": "payload.speeds.download",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "a03f104b.58ff8"
            ]
        ]
    },
    {
        "id": "20d947ba.574ff8",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Last Speedtest",
        "label": "Last Speedtest",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "583d4a26.363c14",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "download",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Download",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speeds.download",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e1ab8c2f.e392",
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "72e2a082.86ed4",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "upload",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Upload",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speeds.upload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "b94b3762.47e0c8",
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "8c49c54d.a02b68",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "ping",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Ping",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.ping",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "c4940128.b9dac",
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "bded1eb.dfb7ce",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.distanceMi",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Distance",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "b583a0fc.628e4",
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "1856e740.6b09b9",
        "type": "change",
        "z": "66eb8402.daa4fc",
        "name": "ISP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server.sponsor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "564197da.5d0ba8"
            ]
        ]
    },
    {
        "id": "d335b417.56dfa8",
        "type": "ui_button",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SpeedTest Now!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 200,
        "y": 60,
        "wires": [
            [
                "6c891bc6.bc8204"
            ]
        ]
    },
    {
        "id": "a03f104b.58ff8",
        "type": "template",
        "z": "66eb8402.daa4fc",
        "name": "Message",
        "field": "arguments",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Internet speed was {{payload.speeds.download}}/{{payload.speeds.upload}} (down/up Mbits/s) at {{mytimes}} on {{mymonthn}}/{{mydom}}. Speedtest server was {{payload.server.sponsor}}.",
        "output": "str",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "e682d7ac.220ae8"
            ]
        ]
    },
    {
        "id": "e1ab8c2f.e392",
        "type": "ui_gauge",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Download Speed",
        "label": "Download Mbits",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff002d",
            "#e4b400",
            "#03f81f"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "e9e02950.ff4b58",
        "type": "ui_chart",
        "z": "66eb8402.daa4fc",
        "name": "Performance Chart",
        "group": "8ea90f55.6cdc8",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Performance Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "fd73f8a9.7fb728"
            ]
        ]
    },
    {
        "id": "b94b3762.47e0c8",
        "type": "ui_gauge",
        "z": "66eb8402.daa4fc",
        "name": "",
        "group": "bbc70dcb.af9b1",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Upload Speed",
        "label": "Upload MBits",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#ff002d",
            "#ffed36",
            "#03f81f"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4940128.b9dac",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ping (ms)",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "f1bcce6.7a6d13",
        "type": "ui_chart",
        "z": "66eb8402.daa4fc",
        "name": "Latency Chart",
        "group": "8ea90f55.6cdc8",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Latency Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 560,
        "y": 240,
        "wires": [
            [
                "843d210e.9fb6c"
            ]
        ]
    },
    {
        "id": "b583a0fc.628e4",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distance",
        "format": "<font color=\"cyan\">{{msg.payload}} mi</font>",
        "layout": "col-center",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "564197da.5d0ba8",
        "type": "ui_text",
        "z": "66eb8402.daa4fc",
        "group": "bbc70dcb.af9b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hosted By",
        "format": "<font color=\"cyan\">{{msg.payload}}</font>",
        "layout": "col-center",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "fd73f8a9.7fb728",
        "type": "file",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Save",
        "filename": "/home/pi/.node-red/data/speedtest/speedtestData.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5f21f9.428d3",
        "type": "json",
        "z": "66eb8402.daa4fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "e9e02950.ff4b58"
            ]
        ]
    },
    {
        "id": "843d210e.9fb6c",
        "type": "file",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Save",
        "filename": "/home/pi/.node-red/data/speedtest/speedtestDataPD.json",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "98b4afc6.146f9",
        "type": "json",
        "z": "66eb8402.daa4fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "f1bcce6.7a6d13"
            ]
        ]
    },
    {
        "id": "728a94dc.939e4c",
        "type": "file in",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Restore",
        "filename": "/home/pi/.node-red/data/speedtest/speedtestData.json",
        "format": "utf8",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "fe5f21f9.428d3"
            ]
        ]
    },
    {
        "id": "c4e0dc5d.f843a",
        "type": "file in",
        "z": "66eb8402.daa4fc",
        "name": "Speed Test Data Restore",
        "filename": "/home/pi/.node-red/data/speedtest/speedtestDataPD.json",
        "format": "utf8",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "98b4afc6.146f9"
            ]
        ]
    },
    {
        "id": "1950af5f.5c2901",
        "type": "inject",
        "z": "66eb8402.daa4fc",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "restore",
        "payloadType": "str",
        "x": 560,
        "y": 180,
        "wires": [
            [
                "728a94dc.939e4c",
                "c4e0dc5d.f843a"
            ]
        ]
    },
    {
        "id": "f79e586b.bb5f98",
        "type": "simpletime",
        "z": "66eb8402.daa4fc",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "1f71ef48.e3d2b1",
                "90ec36f0.76ff08",
                "836dbe75.14f81"
            ]
        ]
    },
    {
        "id": "567679a8.924158",
        "type": "cronplus",
        "z": "66eb8402.daa4fc",
        "name": "5 minutes past the hour",
        "outputField": "payload",
        "timeZone": "",
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "topic": "5 past every hour",
                "payload": "start",
                "expression": "5 * * * *",
                "name": "5 past every hour",
                "expressionType": "cron",
                "payloadType": "str",
                "solarType": "all",
                "solarEvents": "sunrise,sunset",
                "location": ""
            }
        ],
        "x": 170,
        "y": 100,
        "wires": [
            [
                "6c891bc6.bc8204"
            ]
        ]
    },
    {
        "id": "6c891bc6.bc8204",
        "type": "speedtest",
        "z": "66eb8402.daa4fc",
        "name": "Speedtest",
        "serverId": "",
        "maxTime": "120000",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "583d4a26.363c14",
                "72e2a082.86ed4",
                "8c49c54d.a02b68",
                "bded1eb.dfb7ce",
                "1856e740.6b09b9",
                "f79e586b.bb5f98"
            ]
        ]
    },
    {
        "id": "e682d7ac.220ae8",
        "type": "hubitat command",
        "z": "66eb8402.daa4fc",
        "name": "Notify Colin's Phone",
        "server": "b130c189.ea4d2",
        "deviceId": "70",
        "command": "deviceNotification",
        "commandArgs": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "836dbe75.14f81",
        "type": "switch",
        "z": "66eb8402.daa4fc",
        "name": "upload < 75",
        "property": "payload.speeds.upload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "75",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 600,
        "wires": [
            [
                "a03f104b.58ff8"
            ]
        ]
    },
    {
        "id": "1c34efac.1fc57",
        "type": "switch",
        "z": "68ba5945.906288",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "e188401e.b56c",
                "80bb010d.082ce"
            ]
        ]
    },
    {
        "id": "c0f915b6.e62fb8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 560,
        "y": 80,
        "wires": [
            [
                "e97ff3a7.a2ed5"
            ]
        ]
    },
    {
        "id": "68e807d.954b0f8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 560,
        "y": 200,
        "wires": [
            [
                "704d4696.7b2828"
            ]
        ]
    },
    {
        "id": "e4e76245.3c42",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 570,
        "y": 120,
        "wires": [
            [
                "e3958915.0a6308"
            ]
        ]
    },
    {
        "id": "eb6d4a12.1e44f8",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 570,
        "y": 160,
        "wires": [
            [
                "d92d6856.919638"
            ]
        ]
    },
    {
        "id": "afd82140.f445b",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Play",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "tuneIn",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "guideId": {
                    "type": "str",
                    "value": "s249973"
                },
                "contentType": {
                    "type": "str",
                    "value": "station"
                }
            }
        },
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b5615238.4cef5"
            ]
        ]
    },
    {
        "id": "59a7d23a.cb8e5c",
        "type": "alexa-remote-event",
        "z": "d61084e.39e0678",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ffb8478e.103d68"
            ]
        ]
    },
    {
        "id": "6118732f.6ede7c",
        "type": "switch",
        "z": "d61084e.39e0678",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "reset volumes",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "reset volume",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "afd82140.f445b",
                "68e807d.954b0f8",
                "eb6d4a12.1e44f8",
                "e4e76245.3c42",
                "c0f915b6.e62fb8"
            ],
            [
                "3f333fa.be852c"
            ]
        ]
    },
    {
        "id": "ffb8478e.103d68",
        "type": "switch",
        "z": "d61084e.39e0678",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "6118732f.6ede7c"
            ]
        ]
    },
    {
        "id": "3f333fa.be852c",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "c0f915b6.e62fb8"
            ],
            [
                "e4e76245.3c42",
                "eb6d4a12.1e44f8"
            ],
            [
                "68e807d.954b0f8"
            ],
            [
                "afd82140.f445b"
            ]
        ]
    },
    {
        "id": "57115256.c8f83c",
        "type": "alexa-remote-event",
        "z": "d61084e.39e0678",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-media-change",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3f1bb185.ee904e",
                "77edd238.0d301c"
            ]
        ]
    },
    {
        "id": "558ee0bb.30b7f",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5a515b3f.122a34",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 880,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "65f116d4.f76438",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "volume",
                "value": {
                    "type": "msg",
                    "value": "payload.volume"
                }
            }
        },
        "x": 880,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9d412f46.25b99",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c1954c72.887de",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Volume",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "volume",
                "value": {
                    "type": "jsonata",
                    "value": "msg.payload.volume+50"
                }
            }
        },
        "x": 870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd73cb0.773a34",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "GR - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912423CC"
                },
                "what": "pause"
            }
        },
        "x": 430,
        "y": 400,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "ea17f4a9.8a2408",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo M Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G6G0XG100134018V"
                },
                "what": "pause"
            }
        },
        "x": 430,
        "y": 440,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "29113ff2.7a2d1",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "DB - Echo S Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509912424HF"
                },
                "what": "pause"
            }
        },
        "x": 430,
        "y": 480,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "f81bf876.428948",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "KT - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U5099117264T"
                },
                "what": "pause"
            }
        },
        "x": 430,
        "y": 520,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "9434928a.e846d",
        "type": "alexa-remote-echo",
        "z": "d61084e.39e0678",
        "name": "MB - Echo Pause",
        "account": "4553eef5.ffc05",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090U509911620T7"
                },
                "what": "pause"
            }
        },
        "x": 430,
        "y": 560,
        "wires": [
            [
                "8cbf13ee.6bece"
            ]
        ]
    },
    {
        "id": "77edd238.0d301c",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 160,
        "y": 420,
        "wires": [
            [
                "3bd73cb0.773a34"
            ],
            [
                "ea17f4a9.8a2408",
                "29113ff2.7a2d1"
            ],
            [
                "f81bf876.428948"
            ],
            [
                "9434928a.e846d"
            ]
        ]
    },
    {
        "id": "26fc474d.0dffe8",
        "type": "inject",
        "z": "d61084e.39e0678",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "9434928a.e846d",
                "f81bf876.428948",
                "29113ff2.7a2d1",
                "ea17f4a9.8a2408",
                "3bd73cb0.773a34"
            ]
        ]
    },
    {
        "id": "59d071a7.8a464",
        "type": "subflow:ac12c9d8.613d38",
        "z": "345f283.d5796d8",
        "name": "",
        "env": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "e1bf2646.a068a8",
                "c02cfc03.3f358",
                "2d2a8e8.4a5c572",
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "c7e6bc92.df8ea"
            ],
            [
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "42314d69.d59214"
            ],
            [
                "e1bf2646.a068a8",
                "c02cfc03.3f358",
                "2d2a8e8.4a5c572",
                "4fa7d080.e694f",
                "87177829.799d98",
                "e4c569a1.755d98",
                "cfeb43bf.07772",
                "db41473e.5574e8",
                "c55c8143.8aefc"
            ]
        ]
    },
    {
        "id": "8cbf13ee.6bece",
        "type": "subflow:ac12c9d8.613d38",
        "z": "d61084e.39e0678",
        "name": "",
        "env": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "c1954c72.887de",
                "9d412f46.25b99",
                "65f116d4.f76438",
                "5a515b3f.122a34",
                "558ee0bb.30b7f"
            ],
            [
                "c1954c72.887de",
                "9d412f46.25b99",
                "65f116d4.f76438",
                "5a515b3f.122a34",
                "558ee0bb.30b7f"
            ],
            [
                "558ee0bb.30b7f",
                "5a515b3f.122a34",
                "65f116d4.f76438",
                "9d412f46.25b99",
                "c1954c72.887de"
            ]
        ]
    },
    {
        "id": "3f1bb185.ee904e",
        "type": "hubitat command",
        "z": "d61084e.39e0678",
        "name": "Colin Notification",
        "server": "b130c189.ea4d2",
        "deviceId": "70",
        "command": "deviceNotification",
        "commandArgs": "Alexa \"On Media Change\" Triggered",
        "x": 350,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e97ff3a7.a2ed5",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 80,
        "wires": [
            [
                "3bd73cb0.773a34"
            ]
        ]
    },
    {
        "id": "e3958915.0a6308",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 120,
        "wires": [
            [
                "ea17f4a9.8a2408"
            ]
        ]
    },
    {
        "id": "d92d6856.919638",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "29113ff2.7a2d1"
            ]
        ]
    },
    {
        "id": "704d4696.7b2828",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "f81bf876.428948"
            ]
        ]
    },
    {
        "id": "b5615238.4cef5",
        "type": "delay",
        "z": "d61084e.39e0678",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "9434928a.e846d"
            ]
        ]
    },
    {
        "id": "ed40bc41.95a34",
        "type": "delay",
        "z": "345f283.d5796d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "ae57b7da.109528",
                "59d071a7.8a464",
                "8e74d342.066a6",
                "9672e767.fceda8",
                "9f83e2cc.07492"
            ]
        ]
    },
    {
        "id": "743fd661.b952b8",
        "type": "hubitat mode",
        "z": "345f283.d5796d8",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "ae57b7da.109528",
                "59d071a7.8a464",
                "8e74d342.066a6",
                "9672e767.fceda8",
                "9f83e2cc.07492"
            ]
        ]
    },
    {
        "id": "a44ccae0.1fbd48",
        "type": "switch",
        "z": "345f283.d5796d8",
        "name": "sysStart",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "systemStart",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ed40bc41.95a34"
            ]
        ]
    },
    {
        "id": "2bb7e3e6.86d69c",
        "type": "comment",
        "z": "f3e4e663.9ecbb8",
        "name": "Generate Teleporter Backup Address",
        "info": "Needs cookie -http://192.168.2.253/admin/scripts/pi-hole/php/teleporter.php",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "bfe92a56.a7a0a8",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 740,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "315c6b22.c39a64",
        "type": "hubitat command",
        "z": "345f283.d5796d8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 740,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c7e6bc92.df8ea",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "bfe92a56.a7a0a8"
            ]
        ]
    },
    {
        "id": "42314d69.d59214",
        "type": "change",
        "z": "345f283.d5796d8",
        "name": "arg fix",
        "rules": [
            {
                "t": "delete",
                "p": "arguments",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "315c6b22.c39a64"
            ]
        ]
    },
    {
        "id": "b663b6cf.389378",
        "type": "alexa-remote-event",
        "z": "73f998b9.8842a8",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "10178a52.b714a6"
            ]
        ]
    },
    {
        "id": "e96cba5a.0480d8",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "good( )?night",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "good( )?morning",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "1f860f1a.769fd1",
                "94023e4c.b2b4d",
                "19d3d5eb.74bf0a"
            ],
            [
                "6b1eb982.8dcaf8"
            ]
        ]
    },
    {
        "id": "9cb3b387.dc6da",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "33f5a68d.21358a",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "901f1a7f.229298",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "47080bca.7ec5c4",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1f860f1a.769fd1",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Back Door August Pro (Reliable)",
        "server": "b130c189.ea4d2",
        "deviceId": "1441",
        "command": "lock",
        "commandArgs": "",
        "x": 470,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ed251d47.20d8e",
        "type": "hubitat device",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe Status",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "attribute": "",
        "sendEvent": false,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "cab7e870.5e4e98"
            ]
        ]
    },
    {
        "id": "cab7e870.5e4e98",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "if OFF",
        "property": "payload.alarm.currentValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "7896d4be.8fce0c"
            ]
        ]
    },
    {
        "id": "7896d4be.8fce0c",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe Arm",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "command": "home",
        "commandArgs": "",
        "x": 920,
        "y": 120,
        "wires": [
            [
                "94023e4c.b2b4d"
            ]
        ]
    },
    {
        "id": "94023e4c.b2b4d",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "Simplisafe",
        "server": "b130c189.ea4d2",
        "deviceId": "86",
        "command": "poll",
        "commandArgs": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "ed251d47.20d8e"
            ]
        ]
    },
    {
        "id": "19d3d5eb.74bf0a",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "73f998b9.8842a8",
        "name": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "410479d9.0625d8"
            ],
            [
                "be21259d.1ec948"
            ],
            [
                "62e2193c.2b9368"
            ],
            [
                "14b0e991.d2c5a6"
            ]
        ]
    },
    {
        "id": "7bdd715.d136d9",
        "type": "hubitat mode",
        "z": "73f998b9.8842a8",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "91cb62f.dc5b0a"
            ]
        ]
    },
    {
        "id": "91cb62f.dc5b0a",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "!night",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "9cb3b387.dc6da"
            ]
        ]
    },
    {
        "id": "9c6cab25.ff2de8",
        "type": "hubitat mode",
        "z": "73f998b9.8842a8",
        "name": "",
        "server": "b130c189.ea4d2",
        "sendEvent": false,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "314b1149.45429e"
            ]
        ]
    },
    {
        "id": "314b1149.45429e",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "!night",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "47080bca.7ec5c4"
            ]
        ]
    },
    {
        "id": "410479d9.0625d8",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "67",
        "command": "off",
        "commandArgs": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "7bdd715.d136d9"
            ]
        ]
    },
    {
        "id": "be21259d.1ec948",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "69",
        "command": "off",
        "commandArgs": "",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "33f5a68d.21358a"
            ]
        ]
    },
    {
        "id": "62e2193c.2b9368",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "68",
        "command": "off",
        "commandArgs": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "901f1a7f.229298"
            ]
        ]
    },
    {
        "id": "14b0e991.d2c5a6",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Lights",
        "server": "b130c189.ea4d2",
        "deviceId": "501",
        "command": "off",
        "commandArgs": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "9c6cab25.ff2de8"
            ]
        ]
    },
    {
        "id": "e87b6f2.9c7329",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 450,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7d33fcce.8c2964",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "on",
        "commandArgs": "",
        "x": 450,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f8082117.809db",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 450,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "53eab9ae.4e62e8",
        "type": "hubitat command",
        "z": "73f998b9.8842a8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 450,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6b1eb982.8dcaf8",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "73f998b9.8842a8",
        "name": "",
        "env": [],
        "x": 180,
        "y": 620,
        "wires": [
            [
                "e87b6f2.9c7329"
            ],
            [
                "7d33fcce.8c2964"
            ],
            [
                "f8082117.809db"
            ],
            [
                "53eab9ae.4e62e8"
            ]
        ]
    },
    {
        "id": "10178a52.b714a6",
        "type": "switch",
        "z": "73f998b9.8842a8",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "e96cba5a.0480d8"
            ]
        ]
    },
    {
        "id": "2cb4155c.cce7fa",
        "type": "switch",
        "z": "5c3cd757.a086c8",
        "name": "Phrase Handler",
        "property": "payload.description.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "disable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "disable (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn off (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensor",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "turn on (the )?motion sensing",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "enable (the )?motion sensing",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "2d0e707f.31733"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ],
            [
                "c97a0e5a.2dbbd"
            ]
        ]
    },
    {
        "id": "a17b47a4.460078",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e05642db.52579",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cb47b315.09e5d",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8f0bcf48.a54aa",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "off",
        "commandArgs": "",
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "42660c0d.123e94",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "GR - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1377",
        "command": "on",
        "commandArgs": "",
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d992582.db679a8",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "DB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1352",
        "command": "on",
        "commandArgs": "",
        "x": 870,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9824a1.aebd7b",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "KT - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "1351",
        "command": "on",
        "commandArgs": "",
        "x": 870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "daaeaf91.84a0b",
        "type": "hubitat command",
        "z": "5c3cd757.a086c8",
        "name": "MB - Motion Detection",
        "server": "b130c189.ea4d2",
        "deviceId": "385",
        "command": "on",
        "commandArgs": "",
        "x": 870,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c88f961b.aa6f68",
        "type": "alexa-remote-event",
        "z": "5c3cd757.a086c8",
        "name": "",
        "account": "4553eef5.ffc05",
        "event": "ws-device-activity",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "f8fadc39.24a54"
            ]
        ]
    },
    {
        "id": "2d0e707f.31733",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "5c3cd757.a086c8",
        "name": "",
        "env": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "a17b47a4.460078"
            ],
            [
                "e05642db.52579"
            ],
            [
                "cb47b315.09e5d"
            ],
            [
                "8f0bcf48.a54aa"
            ]
        ]
    },
    {
        "id": "c97a0e5a.2dbbd",
        "type": "subflow:cb4b5b0a.f09b68",
        "z": "5c3cd757.a086c8",
        "name": "",
        "x": 600,
        "y": 340,
        "wires": [
            [
                "42660c0d.123e94"
            ],
            [
                "d992582.db679a8"
            ],
            [
                "1f9824a1.aebd7b"
            ],
            [
                "daaeaf91.84a0b"
            ]
        ]
    },
    {
        "id": "f8fadc39.24a54",
        "type": "switch",
        "z": "5c3cd757.a086c8",
        "name": "Wake Handler",
        "property": "payload.domainAttributes",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2cb4155c.cce7fa"
            ]
        ]
    }
]